body {
  margin: 0px;
  overflow-x: hidden;
}

.logo {
  width: 400px;
  height: 200px;
}

/* Estilo a las cards */

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.imgProductos {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 1rem;
}

.card .card-title {
  font-size: 15px;
  font-weight: bold;
}

.card .card-text {
  color: #888;
  max-height: 80px; 
  overflow: hidden;
}

.card button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 40px;
  cursor: pointer;
}

.card button:hover {
  background-color: grey;
}

/* NAVBAR */
#navbar {
  display: flex; 
  align-items: center; 
}

/* CONTAINER */
.productos-container {
  margin-top: 100px; 
  margin-left: 20px; 
  margin-right: 20px; 
  background-color: #f2f2f2;
}


/* CARRITO */

.carrito-container {
  position: relative;
}

#contenedorCarrito {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 10px;
  z-index: 9999;
  width: 250px;
  max-height: 300px; 
  overflow-y: auto;
}

#contenedorCarrito.mostrar {
  display: block;
}

#contenedorCarrito h3 {
  font-size: 16px; 
  color: #333;
  margin-bottom: 10px; 
}

#contenedorCarrito .card {
  border: 1px solid #ccc;
  border-radius: 4px; 
  padding: 5px; 
  margin-bottom: 5px; 
  background-color: #fff;
}


#contenedorCarrito .card button {
  padding: 2px 5px; 
  font-size: 15px; 
}


.btn {
  padding: 5px 10px;
  font-size: 15px;
}

/*BUSCADOR */
.resultado-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultado-card {
  width: 18rem;
  margin: 10px;
}


/* FOOTER */

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 50px;
}

.footer h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer p {
  color: blue;
  font-size: 16px;
  margin-bottom: 5px;
}

.redes-sociales a {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  font-size: 20px;
  transition: color 0.3s
}

/* MODAL */
#carritoModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0; 
    width: 400px; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto; 
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    max-width: 100%; 
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  .productos-container-carrito {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .producto {
    flex-basis: calc(50% - 10px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .producto-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .producto-nombre {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .producto-precio {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .producto-cantidad {
    font-size: 12px;
    margin-bottom: 5px;
    color: #888;
  }
  
  .producto-btn-eliminar,
  .producto-btn-restar {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .producto-btn-eliminar:hover,
  .producto-btn-restar:hover {
    background-color: #c82333;
  }
  
  .total {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .vaciar-carrito {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .vaciar-carrito:hover {
    background-color: #c82333;
  }
  
