* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

.logo {
  width: 400px;
  height: 200px;
}

/* Estilo a las cards */

.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 7px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.card-productos {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.imgProductos {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 1rem;
}

.card-title {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-text {
  color: black;
  font-size: 17px;
  text-align: center;
  margin-bottom: 1rem;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: grey;
}

/* NAVBAR */
.navbar {
  background-color: white;
  padding: 10px 20px;
}

.navbar-brand {
  display: inline-block;
  margin-right: 20px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.boton-menu {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.boton-menu.active {
  background-color: #8fd0d8;
}


.boton-menu:hover {
  background-color: #d9d9d9;
}

.botonCarrito {
  padding: 10px 20px;
  background-color: #8fd0d8;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.botonCarrito i {
  margin-right: 5px;
  font-size: 30px;
  font-weight: bold;
}


.resultado-container {
  margin-top: 20px;
}


/* CONTAINER */
.productos-container {
  margin-top: 50px; 
  margin-left: 20px; 
  margin-right: 20px; 
  /* background-color: #f2f2f2; */
}


.btn {
  padding: 5px 10px;
  font-size: 15px;
}

/*BUSCADOR */
.buscador {
  width: 600px; 
  max-width: 100%; 
  margin: 0 auto; 
  text-align: center;
}


.resultado-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultado-card {
  width: 18rem;
  margin: 10px;
}


/* FOOTER */

.footer {
  /* background-color: #f8f8f8; */
  background-color: #8fd0d8;
  padding: 20px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footer h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer p {
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
}

.redes-sociales a {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  font-size: 20px;
  transition: color 0.3s
}

.legales {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */
/* .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0; 
    width: 400px; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto; 
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    max-width: 100%; 
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  } */


  .modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    flex-direction: column;
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  .productos-container-carrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .producto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Agrega espacio entre los elementos */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 80px;
  }
  
  
  .producto-imagen {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .producto-nombre {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .producto-precio {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .producto-cantidad {
    font-size: 12px;
    margin-bottom: 5px;
    color: #888;
  }
  
  .producto-btn-eliminar,
  .producto-btn-restar {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .producto-btn-eliminar:hover,
  .producto-btn-restar:hover {
    background-color: #c82333;
  }
  
  .total {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .vaciar-carrito {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .vaciar-carrito:hover {
    background-color: #c82333;
  }
  
  .carrito-vacio {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: gray;
  }

  /* SWEET ALERT */
  .swal2-container {
    z-index: 999999999 !important;
  }
  
  .my-swal-popup {
    z-index: 99999 !important;
  }
  